<p>
  <b>Phenolog:</b>
  <%=h @phenotype.phenolog_id %>
</p>

<p>
  <b>Desc:</b>
  <%=h @phenotype.desc %>
</p>

<p>
  <b>Genes count:</b>
  <%=h @phenotype.genes_count %>
</p>


<%= link_to 'Edit', edit_phenotype_path(@phenotype) %> |
<%= link_to 'Back', phenotypes_path %>