<p>
  <b>Distance:</b>
  <%=h "%E" % @phenolog.distance %>
</p>

<p>
  <b><%=h @phenotypes.first.species %> Phenotype:</b>
  <%= link_to(h(@phenolog.phenotypes.first.desc), @phenolog.phenotypes.first) %>
</p>

<p>
  <b><%=h @phenotypes.last.species %> Phenotype:</b>
  <%= link_to(h(@phenolog.phenotypes.last.desc), @phenolog.phenotypes.last) %>
</p>

<% if @phenolog.confirmed %>
  <p><b>Confirmed</b></p>
<% end %>


<%= link_to 'Edit', edit_phenolog_path(@phenolog) %> |
<%= link_to 'Back', phenologs_path %>