<tr>
  <td><%= h assignment.model_id %></td>
  <td><%= h assignment.region %></td>
  <td>(<%= "%E" % assignment.e_value %>) <%= h assignment.superfamily_id %>: <%= h assignment.superfamily_desc %></td>
  <td>(<%= "%E" % assignment.family_e_value %>) <%= h assignment.family_id %>: <%= h assignment.family_desc %></td>
  <td><%= h assignment.most_similar_structure %></td>
</tr>